{% extends 'base.html' %}
{% load static %}
{% block content %}
<meta name="csrf_token" content="{{ csrf_token }}">
    <div class="contact-section">
        <div class="container">
            <div class="row">
    <section class="cart-total-page spad">
        <div class="container">
            <form action="{% url 'dadospessoais'  %}" class="checkout-form" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-12">
                        <h3>Editar seus Dados</h3>
                    </div>
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-2">
                            <label for="id_nome">Nome:</label>
                            </div>
                            <div class="col-lg-12">
                                <input type="text" name="nome" maxlength="250" required id="id_nome" placeholder="Nome" value="{{ dados.nome }}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2">
                            <label for="id_setor">Setor:</label>
                            </div>
                            <div class="col-lg-5">
                                <input  type="text" name="setor" maxlength="50" required id="id_setor" placeholder="Setor" value="{{ dados.setor }}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2">
                            <label for="id_cargo">Cargo:</label>
                            </div>
                            <div class="col-lg-5">
                                <input  type="text" name="cargo" maxlength="50" required id="id_cargo" placeholder="Cargo" value="{{ dados.cargo }}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2">
                            <label for="id_telefone">Telefone:</label>
                            </div>
                            <div class="col-lg-5">
                                <input  type="text" name="telefone" maxlength="15" required id="id_telefone" placeholder="Telefone" value="{{ dados.telefone }}">
                            </div>
                        </div>
                         <div class="row">
                            <div class="col-lg-2">
                            <label for="id_email">Email:</label>
                            </div>
                            <div class="col-lg-5">
                                <input  type="text" name="email" required id="id_email" placeholder="Email" value="{{ dados.email }}">
                            </div>
                        </div>
                    </div>

                </div>
                <input type="submit" style="background-color:#00946B; color: white" class="primary-btn pc-btn" class="primary-btn pc-btn" value="Enviar" >
            </form>
        </div>
    </section>
                </div>
            </div>
        </div>
    </div>

 {% endblock %}