{% extends 'base.html' %}

{% block content %}
    <section class="cart-total-page spad">
        <div class="container">
           <div> <h1> Informativos</h1></div>
           <div class="row">  <section class="features-section spad">
        <div class="features-ads">
            <div class="container">
                <div class="row">
                   <H2>Medidas de Segurança para o setor de TI</H2><br><br><br>
                    <h4><div>

                      De acordo com   LEI Nº 13.709, DE 14 DE AGOSTO DE 2018 devemos adotar novas politicas de armazenamento de dados, com isto visando a segurança da informação tomaremos novos procedimentos com relação aos dados e informações.<br><br>

                      Todo colaborador deverá possuir usuário e senha nos sistemas de gestão e de compartilhamento de arquivos e dados pela rede.<br><br>

                      Aqueles que não possuir deverá ser solicitado ao setor de Tecnologia da Informação.<br><br>

                      Podendo fazer essa via sistema de solicitação.<br><br>

                      Em breve será suspenso o acesso não autorizado as pastas bloqueando, por isso procurem o quanto antes para realizar o cadastro.
<br><br>

                      <div>
</h4>
                      </div></div><br><br><br><br>
                      <div><h2>Faça já seu registro</h2></div><br><br>
                      <div><h4> Em breve todo chamado de suporte deverá ser registrado, crie já seu registro para receber de maneira mais simples, rapida e eficiênte todo o suporte necessário dentro hospital. </h4>

                        <br><br> <img src="/media/Registrar1.png"><br><img src="/media/Registrar2.png"></div>





                 </div>
            </div>
              </div>
           </div>
        </div>
    </section>
   {% endblock %}