{% extends 'base.html' %}

{% block content %}
    <section class="cart-total-page spad">
        <div class="container">
           <div> <h1> Ordens Manuntenção Concluidas</h1></div>
           <div class="row">  <section class="features-section spad">
        <div class="features-ads">
            <div class="container">
              <table border="0">
                <div><h3> Predial - Elétrica - Hidraulica</h3></div>
                <tr ><th> Nº Ordem </th><th> Data</th><th> Solicitante </th><th>Setor</th><th> Tipo</th></tr>
              {% for ordem in query1 %}
              <tr   style ="

                        {% if ordem.prioridade == 1 %} color: black ; background-color: #90EE90  
                        {% elif ordem.prioridade == 2 %} color: black ; background-color: #FFA07A  
                        {% elif ordem.prioridade == 3 %} color: black ; background-color: #FA8072
                        {% else %} color: black; background-color: #B0E0E6;                    {% endif %}

                        "
              >
                <td>  <a href="{% url 'vis_ordemManu' ordem.id ordem.tipo %}"> Nº {{ ordem.id }} </a> </td>
                <td>  {{ ordem.data_solcitada|slice:"8:10"}}/{{ ordem.data_solcitada|slice:"5:7"}}/{{ ordem.data_solcitada|slice:"0:4"}}  </td>
                <td>  {{ ordem.solicitante }}  </td> <td> {{ ordem.setor }} </td> 
                <td>  {{ ordem.tipo }}  </td>
                



              </tr>
                 
              {% endfor %}
            </table>
            </div>
            </div>
              </div>
           </div>


        <div class="features-ads">
            <div class="container">
              <table border="0">
                <div><h3> Equipamentos Terceirizados </h3></div>
                <tr ><th> Nº Ordem </th><th> Data</th><th> Solicitante </th><th>Setor</th><th> Tipo</th></tr>
              {% for ordem in query2 %}
              <tr   style ="

                        {% if ordem.prioridade == 1 %} color: black ; background-color: #90EE90  
                        {% elif ordem.prioridade == 2 %} color: black ; background-color: #FFA07A  
                        {% elif ordem.prioridade == 3 %} color: black ; background-color: #FA8072
                        {% else %} color: black; background-color: #B0E0E6;                    {% endif %}

                        "
              >
                <td>  <a href="{% url 'vis_ordemManu' ordem.id ordem.tipo %}"> Nº {{ ordem.id }} </a> </td>
                <td>  {{ ordem.data_solcitada|slice:"8:10"}}/{{ ordem.data_solcitada|slice:"5:7"}}/{{ ordem.data_solcitada|slice:"0:4"}}  </td>
                <td>  {{ ordem.solicitante }}  </td> <td> {{ ordem.setor }} </td> 
                <td>  {{ ordem.tipo }}  </td>
                



              </tr>
                 
              {% endfor %}
            </table>
            </div>
            </div>
              </div>
           </div>





        <div class="features-ads">
            <div class="container">
              <table border="0">
                <div><h3> Ar Condicionado </h3></div>
                <tr ><th> Nº Ordem </th><th> Data</th><th> Solicitante </th><th>Setor</th><th> Tipo</th></tr>
              {% for ordem in query3 %}
              <tr   style ="

                        {% if ordem.prioridade == 1 %} color: black ; background-color: #90EE90  
                        {% elif ordem.prioridade == 2 %} color: black ; background-color: #FFA07A  
                        {% elif ordem.prioridade == 3 %} color: black ; background-color: #FA8072
                        {% else %} color: black; background-color: #B0E0E6;                    {% endif %}

                        "
              >
                <td>  <a href="{% url 'vis_ordemManu' ordem.id ordem.tipo %}"> Nº {{ ordem.id }} </a> </td>
                <td>  {{ ordem.data_solcitada|slice:"8:10"}}/{{ ordem.data_solcitada|slice:"5:7"}}/{{ ordem.data_solcitada|slice:"0:4"}}  </td>
                <td>  {{ ordem.solicitante }}  </td> <td> {{ ordem.setor }} </td> 
                <td>  {{ ordem.tipo }}  </td>
                



              </tr>
                 
              {% endfor %}
            </table>
            </div>
            </div>
              </div>
           </div>






        </div>
    </section>
    <script>
function alertar()
{
var x;
var r=confirm("Deseja mesmo apagar essa Ordem de Serviço?");
if (r==true)
  {
  x="Produto apagado";
  }
 else
 {
    return false;
 }
document.getElementById("demo").innerHTML=x;
}


</script>
   {% endblock %}